<div class="outer">
  <div class="mb-3 col-4">
    <label for="id" class="form-label">Customer Id</label>
    <input type="text" class="form-control" id="id" placeholder="C-0001">
  </div>
  <div class="mb-3 col-4">
    <label for="name" class="form-label">Customer Name</label>
    <input type="text" class="form-control" id="name" placeholder="Sunil Homagama">
  </div>
  <div class="mb-3 col-4">
    <label for="email" class="form-label">Customer Email Address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3 col-4">
    <label for="address" class="form-label">Customer Address</label>
    <textarea class="form-control" id="address" rows="3"></textarea>
  </div>
  <div class="mb-3 col-4">
    <button type="button" class="btn btn-danger">Delete Customer</button>
  </div>
</div>



